<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>scoreClock</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">scoreClock</ion-title>
    </ion-toolbar>
  </ion-header>

  <div
    class="border-2 border-dashed surface-border border-round surface-ground flex-auto flex justify-content-center align-items-center font-medium">


    <!--       <p-selectButton 
    style="text-align: center;"
    [options]="stateOptions" 
    [(ngModel)]="value" 
    optionLabel="label" 
    optionValue="value" />   -->

    <!--    <ul>
        <li>Normal clock = 2 points. A normal clock has all numbers placed in the correct sequence and approximately correct position (e.g., 12, 3, 6 and 9 are in anchor positions) with no missing or duplicate numbers. Hands are pointing to the 11 and 2 (11:10).</li>
       
        <li>Inability or refusal to draw a clock (abnormal) = 0 points.</li>
    </ul>
     -->
    <h1>2 points for a normal clock or 0 (zero) points for an abnormal clock drawing. </h1>
    <ul>

      <li>A normal clock must include all numbers (1-12), each only once, in the correct order and direction
        (clockwise).</li>
      <li> There must also be two hands present, one pointing to the 11 and one pointing to 2.</li>
    </ul>
    <img fetchpriority="high" decoding="async" class="img-with-animation skip-lazy animated-in" data-delay="0"
      height="auto" width="2261" data-animation="fade-in" src="../../../assets/images/mini-cog-example.png"
      alt="examples of normal vs abnormal clocks">



    <p-messages severity="info">
      <ng-template pTemplate>
        <div class="ml-2"> Hand length is not scored.
        </div>
      </ng-template>
    </p-messages>



  </div>
  <div class="ion-text-center">
    <ion-button [routerLink]="['/results']">See Results</ion-button>
  </div>
</ion-content>