<ng-container *transloco="let t">
  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-title>{{t("SCORE_WORDS.TITLE")}}</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content [fullscreen]="true">
    <ion-header collapse="condense">
      <ion-toolbar>
        <ion-title size="large">{{t("SCORE_WORDS.TITLE")}}</ion-title>
      </ion-toolbar>
    </ion-header>

    <div
      class="border-2 border-dashed surface-border border-round surface-ground flex-auto flex justify-content-center align-items-center font-medium">

      <p>
        {{t("SCORE_WORDS.REQUEST")}}
      </p>
      <ol>

        <li> {{t("SCORE_WORDS.QUESTION")}} </li>

        <li> {{t("SCORE_WORDS.WRITE_DOWN")}} </li>


        <p> {{t("SCORE_WORDS.PICKED_WORDS")}} </p>
        <ol>
          <li> {{t("WORD_RECALL.WORD_1")}} </li>
          <li> {{t("WORD_RECALL.WORD_2")}} </li>
          <li> {{t("WORD_RECALL.WORD_3")}} </li>
        </ol>

      </ol>

      <h3> {{t("SCORE_WORDS.SCORE_BASIS")}} </h3>


      <p-messages severity="info">
        <ng-template pTemplate>
          <div class="ml-2"> {{t("SCORE_WORDS.HAND_INFO")}}
          </div>
        </ng-template>
      </p-messages>
    </div>

    <div class="ion-text-center">
      <ion-button  aria-label="continue"   [routerLink]="['/score-clock']"> {{t("SCORE_WORDS.CONTINUE")}} </ion-button>
    </div>
  </ion-content>

</ng-container>
