<ng-container *transloco="let t">
  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-title>{{t("SCORE_WORDS.TITLE")}}</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content [fullscreen]="true">
    <ion-header collapse="condense">
      <ion-toolbar>
        <ion-title size="large">{{t("SCORE_WORDS.TITLE")}}</ion-title>
      </ion-toolbar>
    </ion-header>

    <div
      class="border-2 border-dashed surface-border border-round surface-ground flex-auto flex justify-content-center align-items-center font-medium">

      <p>
        {{t("SCORE_WORDS.REQUEST")}}
      </p>
      <ol>

        <li>  <em>  {{t("SCORE_WORDS.QUESTION")}}  </em> </li>

        <li> {{t("SCORE_WORDS.WRITE_DOWN")}} </li>

        <!--TODO: good component candidate-->
        <p> {{t("SCORE_WORDS.PICKED_WORDS")}} </p>

 
        <ol  [ngSwitch]="timesVisited">
            <span *ngSwitchCase="0"> 
        <li> {{t("WORD_RECALL.WORD_SET_1.FIRST")}} </li>
        <li>  {{t("WORD_RECALL.WORD_SET_1.SECOND")}}</li>
       <li>   {{t("WORD_RECALL.WORD_SET_1.THIRD")}}</li>
      </span>
      <span *ngSwitchCase="1"> 
        <li> {{t("WORD_RECALL.WORD_SET_2.FIRST")}} </li>
        <li>  {{t("WORD_RECALL.WORD_SET_2.SECOND")}}</li>
       <li>   {{t("WORD_RECALL.WORD_SET_2.THIRD")}}</li>

      </span>
      <span *ngSwitchCase="2"> 
        <li> {{t("WORD_RECALL.WORD_SET_3.FIRST")}} </li>
        <li>  {{t("WORD_RECALL.WORD_SET_3.SECOND")}}</li>
       <li>   {{t("WORD_RECALL.WORD_SET_3.THIRD")}}</li>
       
      </span>

        </ol>

      </ol>

      <h3> {{t("SCORE_WORDS.SCORE_BASIS")}} </h3>


      <p-messages severity="info">
        <ng-template pTemplate>
          <div class="ml-2"> {{t("SCORE_WORDS.HAND_INFO")}}
          </div>
        </ng-template>
      </p-messages>
    </div>

    <div style="display:flex;justify-content: center;">
      <p-inputNumber 
      [(ngModel)]="value1" 
      [style]=""
      [showButtons]="true" 
      buttonLayout="horizontal"
      spinnerMode="horizontal" 
      inputId="vertical" 
      min="0"
      max="3"
      (ngModelChange)="onValueChange($event)"
      decrementButtonClass="p-button-secondary"
      incrementButtonClass="p-button-secondary" 
      incrementButtonIcon="pi pi-plus" 
      decrementButtonIcon="pi pi-minus" />
    </div>
    

    <div class="ion-text-center">
      <ion-button [disabled]="value1 < 3"  aria-label="continue"   [routerLink]="['/score-clock']"> {{t("SCORE_WORDS.CONTINUE")}} </ion-button>
    </div>
  </ion-content>

</ng-container>
