<ng-container *transloco="let t">
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>{{t("WORD_RECALL.TITLE")}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{t("WORD_RECALL.TITLE")}}</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="border-2 border-dashed surface-border border-round surface-ground flex-auto flex justify-content-center align-items-center font-medium">

    <p>Look directly at the person and say: <br> “Please listen carefully. I am going to say three words that I want you to repeat back to me now and try to remember. <br>
    </p>
      <h2> The words are</h2>
   <ul aria-label="word list" >
    <li>              Banana</li>
    <li>       Sunrise</li>
      <li>        Chair</li>
   </ul>


    <p>After you have said all three words, ask the person to repeat them back to you. </p>


    <p-messages severity="info">
      <ng-template pTemplate>
           <div class="ml-2">{{t("WORD_RECALL.REPEAT")}}</div>
      </ng-template>
  </p-messages>



    <p-messages severity="contrast" >
      <ng-template pTemplate>
           <div class="ml-2">{{t("WORD_RECALL.UNABLE_REPEAT")}} </div>
      </ng-template>
  </p-messages>




  </div>

  <div class="ion-text-center">
    <ion-button   aria-label="continue" [routerLink]="['/clow-drawing']">{{t("WORD_RECALL.CONTINUE")}} </ion-button>
  </div>

</ion-content>


</ng-container>
