<ng-container *transloco="let t">
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>{{t("WORD_RECALL.TITLE")}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{t("WORD_RECALL.TITLE")}}</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="border-2 border-dashed surface-border border-round surface-ground flex-auto flex justify-content-center align-items-center font-medium">

    <p>   {{t("WORD_RECALL.LOOK")}}  <em> {{t("WORD_RECALL.PLEASE_LISTEN")}}  </em> 
    </p>
      <h2> {{t("WORD_RECALL.WORDS_ARE")}} </h2>
   <ul aria-label="word list" >

 
    <li [ngSwitch]="timesVisited  ">
      <span *ngSwitchCase="0"> 
        <li> {{t("WORD_RECALL.WORD_SET_1.FIRST")}} </li>
        <li>  {{t("WORD_RECALL.WORD_SET_1.SECOND")}}</li>
       <li>   {{t("WORD_RECALL.WORD_SET_1.THIRD")}}</li>
      </span>
      <span *ngSwitchCase="1"> 
        <li> {{t("WORD_RECALL.WORD_SET_2.FIRST")}} </li>
        <li>  {{t("WORD_RECALL.WORD_SET_2.SECOND")}}</li>
       <li>   {{t("WORD_RECALL.WORD_SET_2.THIRD")}}</li>
      </span>
      <span *ngSwitchCase="2"> 
        <li> {{t("WORD_RECALL.WORD_SET_3.FIRST")}} </li>
        <li>  {{t("WORD_RECALL.WORD_SET_3.SECOND")}}</li>
       <li>   {{t("WORD_RECALL.WORD_SET_3.THIRD")}}</li>
      </span>

      <span *ngSwitchDefault> {{t("WORD_RECALL.DEFAULT_WORD")}} </span>
    </li>
     
   </ul>


    <p>{{t("WORD_RECALL.ASK_REPEAT")}} </p>


    <p-messages severity="info">
      <ng-template pTemplate>
           <div class="ml-2">{{t("WORD_RECALL.REPEAT")}}</div>
      </ng-template>
  </p-messages>



    <p-messages severity="contrast" >
      <ng-template pTemplate>
           <div class="ml-2">{{t("WORD_RECALL.UNABLE_REPEAT")}} </div>
      </ng-template>
  </p-messages>




  </div>

  <div class="ion-text-center">
    <ion-button   aria-label="continue" [routerLink]="['/clow-drawing']">{{t("WORD_RECALL.CONTINUE")}} </ion-button>
  </div>

</ion-content>


</ng-container>
