<ng-container *transloco="let t"> 
<ion-modal #modal trigger="open-modal" (willDismiss)="onWillDismiss($event)">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-button (click)="cancel()">{{t("COMMENT.CANCEL")}}</ion-button>
        </ion-buttons>
        <ion-title>{{t("COMMENT.TITLE")}}</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="confirm()" [strong]="true">{{t("COMMENT.CONFIRM")}}</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
     
      
<!--            <ion-textarea
            label="What would make this app better for you?"
            labelPlacement="stacked"
            type="text"
            fill="solid"
            placeholder="Share your thoughts..."
            [(ngModel)]="feedback"
          ></ion-textarea>
      -->

      <h1>{{t("COMMENT.TITLE")}}</h1>
  
        <textarea 
          style="width: 100%;"
            rows="10"  
            [(ngModel)]="feedback"
            [placeholder]="t('COMMENT.PLACEHOLDER')"	
            pInputTextarea>
         
        </textarea>
     

        
      <!--    <ion-item>
          <ion-textarea
            label="What’s one thing you found confusing or frustrating?"
            labelPlacement="stacked"
            type="text"
            autoGrow="true"
            placeholder="Share your thoughts..."
            [(ngModel)]="feedbackConfusing"
          ></ion-textarea>
        </ion-item> -->
        <p-messages severity="info"  >


           
        <ng-template pTemplate>
          <p class="privacy-note">
            {{t("COMMENT.INFO")}}
          </p>
           
          <ion-button size="small" fill="clear" (click)="learnMore()">
            {{t("COMMENT.READ_MORE")}}
            <ion-icon slot="end" name="information-circle-outline"></ion-icon>
          </ion-button>
        </ng-template>
       
      </p-messages>
      <ion-toast (didDismiss)="isSuccess = false " [isOpen]="isSuccess" color="success" [message]="successMessage" [duration]="2000"></ion-toast>
      <ion-toast  (didDismiss)="isError = false "  [isOpen]="isError" color="danger" [message]="errorMessage" [duration]="10000"></ion-toast>
     
    </ion-content>
  </ng-template>
 
</ion-modal>
 

</ng-container>