<ng-container *transloco="let t">
  

  <app-toolbar
  [title]="t('BEFORE_WE_START.TITLE')"
  
  >
  </app-toolbar>



  <ion-content [fullscreen]="true">

    

    <div>


      <ul aria-label="requeriments">
        <li class="ion-margin-bottom"> {{t("BEFORE_WE_START.TOOLS")}} 📝</li>
        <li class="ion-margin-bottom"> {{t("BEFORE_WE_START.PERSON_ATTENTION")}}👂 </li>
        <li class="ion-margin-bottom"> {{t("BEFORE_WE_START.QUIET_PLACE")}} 🔵 </li>
        <li class="ion-margin-bottom"> {{t("BEFORE_WE_START.EXPLAIN")}} 🖊️</li>
      </ul>
    </div>
    <div class="ion-text-center">
      <ion-button aria-label="continue" [routerLink]="['/three-word-registration']">
        <li> {{t("BEFORE_WE_START.READY")}} 🖊️</li>
      </ion-button>
    </div>


  </ion-content>



</ng-container>