// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/


body {
  font-size:1rem;  
 /*  font-weight:600; */
  line-height: 1.5;
}


ion-content div  {
  padding-left: 1em;
  padding-right: 1em;
} 

ion-button{
  min-height: 48px;
}
.p-messages.p-component{
  padding-left:0;
  padding-right: 0;
}

ol > li, ul > li {
  margin-top:8px;
}


//more than laptop
@media screen and (min-width: 768px) {

    ion-content div {
      padding-left: 15%;
      padding-right: 15%;
      padding-top:1.5%;
    }

}