<ng-container *transloco="let t">


  <app-toolbar
  [title]="t('CLOCK_DRAWING.TITLE')">
  </app-toolbar>

 <ion-content>
  


 


    <div class="">
      <app-leave-a-comment name="open-modal-draw"/>

      <p>{{t("CLOCK_DRAWING.DESCRIPTION")}}</p>

      <p>{{t("CLOCK_DRAWING.CIRCLE_PAPER")}}</p>

      <p> <em> {{t("CLOCK_DRAWING.REQUEST")}} </em> </p>

      <p> <em> {{t("CLOCK_DRAWING.DRAW_HOUR")}}  <b>11:10.</b> "</em>   </p>



      <div class="x-center">
        <p-messages severity="info">
          <ng-template pTemplate>
               <div class="ml-2">  {{t("CLOCK_DRAWING.REPEAT_INFO")}}</div>
          </ng-template>
      </p-messages>
  
  
  
  
  
    
    <p-messages severity="contrast">
      <ng-template pTemplate>
           <div class="ml-2">{{t("CLOCK_DRAWING.UNABLE_DRAW")}}</div>
      </ng-template>
  </p-messages>
  
      </div>
     


    </div>
    <div class="ion-text-center">
  <ion-button aria-label="continue" [routerLink]="['/scoring']">{{t("CLOCK_DRAWING.CONTINUE")}}</ion-button>
</div>
</ion-content>




</ng-container>
