<ng-container *transloco="let t">

 
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>{{t("CLOCK_DRAWING.TITLE")}}</ion-title>
  </ion-toolbar>
</ion-header>

 <ion-content> 
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{t("CLOCK_DRAWING.TITLE")}}</ion-title>
    </ion-toolbar>
  </ion-header>
 
  

  
 
    <div class="">
     
  
      <p>{{t("CLOCK_DRAWING.DESCRIPTION")}}</p>

      <p>{{t("CLOCK_DRAWING.CIRCLE_PAPER")}}</p>
       
      <p>{{t("CLOCK_DRAWING.REQUEST")}}</p>
      
      <p>{{t("CLOCK_DRAWING.DRAW_HOUR")}}</p>
      

      <p-messages severity="info">
        <ng-template pTemplate>
             <div class="ml-2">{{t("CLOCK_DRAWING.REPEAT_INFO")}}</div>
        </ng-template>
    </p-messages>



    
    <p-messages severity="warn">
      <ng-template pTemplate>
           <div class="ml-2">{{t("CLOCK_DRAWING.UNABLE_DRAW")}}</div>
      </ng-template>
  </p-messages>

     
      
    </div>
    <div class="ion-text-center"> 
  <ion-button [routerLink]="['/scoring']">{{t("CLOCK_DRAWING.CONTINUE")}}</ion-button> 
</div>  
</ion-content>
 
 

      
</ng-container>