<ng-container *transloco="let t">

  <app-toolbar
  [title]="t('HOME.FAQ')">
 </app-toolbar>


 


  <ion-content [fullscreen]="true">

    <!-- TODO: make it a component-->
      <!-- Modal -->
     
      


    <ng-container *ngIf="!isMobile; else mobileView"  >  
    <div class="verification-container">
      <p-card class="verification-card">
        <div class="verification-header">
          <h2>Usa tu dispositivo móvil para esta app</h2>
          <p>Esta aplicación está optimizada para dispositivos móviles. </p>
          <p>Para una mejor experiencia, escanea el QR con tu móvil..</p>

        </div>
        
        <!-- QR Code -->
        <div class="qr-section">
          <qrcode style="display: flex
          ;
              justify-content: center;" qrdata="https://mini-cog-test.web.app/" [width]="256" [errorCorrectionLevel]="'M'"></qrcode>
        </div>
        

       <div class="ion-text-center">
        <ion-button style="width:168.7px; margin-bottom:1rem" arial-label="continue" (click)="ignoreResponsiveWarning()">SEGUIR DE TODOS MODOS</ion-button>
      </div>
      </p-card>
    </div>
    
    </ng-container>
    <div>

      <ng-template #mobileView> 
      <ul style="padding-left: 20px;">
        <li> 
            <ion-icon [@fadeInOut] (click)="useTts(ttsItems[0])" size="medium" *ngIf="this.tts.enabled$! | async" color="primary" style="transform: translateY(4px);" [name]="ttsItems[0].isReading ?  'volume-medium' : 'volume-medium-outline'"></ion-icon>
            <strong id="title1"> {{t("HOME.WHAT_IS_APP.TITLE")}} </strong>
           
      
          
          <p id="p1">{{t("HOME.WHAT_IS_APP.DESCRIPTION")}} </p>
        </li>
        <li>
          <ion-icon  [@fadeInOut]   (click)="useTts(ttsItems[1])" size="medium" *ngIf="this.tts.enabled$! | async" color="primary" style="transform: translateY(4px);" [name]="ttsItems[1].isReading ?  'volume-medium' : 'volume-medium-outline'"></ion-icon>
          <strong id="title2"> {{t("HOME.WHAT_IS_MINICOG.TITLE")}} </strong>
          <p id="p2">{{t("HOME.WHAT_IS_MINICOG.DESCRIPTION")}}</p>
        </li>
        <li>
          <ion-icon  [@fadeInOut]  (click)="useTts(ttsItems[2])" size="medium" *ngIf="this.tts.enabled$! | async" color="primary" style="transform: translateY(4px);" [name]="ttsItems[2].isReading ?  'volume-medium' : 'volume-medium-outline'"></ion-icon>
        
          <strong  id="title3">{{t("HOME.WHO_IS_THIS_FOR.TITLE")}}</strong>
          <p id="p3">{{t("HOME.WHO_IS_THIS_FOR.DESCRIPTION")}}</p>
        </li>
      </ul>
      <div class="ion-text-center">
        <ion-button style="width:168.7px; margin-bottom:1rem" arial-label="continue" [routerLink]="['/before-we-start']">{{t("HOME.START_BUTTON")}}</ion-button>
      </div>

     <!--  <app-show-history [width]="164"/> -->
    </ng-template>
    </div>
 
  </ion-content>
</ng-container>
 
 


<p-toast appendTo="body"  [life]="20000" />

<!-- <app-pick-lang-box  (langSelected)="handleLangSelection($event)" [displayLangOptions]="displayLangOptions" />
 -->