<ng-container *transloco="let t">
  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-title size="large">{{t("HOME.FAQ")}}</ion-title>
      <ion-buttons slot="end">
        <ion-button id="open-modal" expand="block" >
          <ion-icon slot="icon-only" name="chatbubble-ellipses-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>



 


  <ion-content [fullscreen]="true">

    <!-- TODO: make it a component-->
      <!-- Modal -->
      <ion-modal trigger="open-modal" (willDismiss)="onWillDismiss($event)">
        <ng-template>
          <ion-header>
            <ion-toolbar>
              <ion-buttons slot="start">
                <ion-button (click)="cancel()">Cancel</ion-button>
              </ion-buttons>
              <ion-title>Leave us a comment</ion-title>
              <ion-buttons slot="end">
                <ion-button (click)="confirm()" [strong]="true">Confirm</ion-button>
              </ion-buttons>
            </ion-toolbar>
          </ion-header>
          <ion-content class="ion-padding">
           
            
     <!--            <ion-textarea
                  label="What would make this app better for you?"
                  labelPlacement="stacked"
                  type="text"
                  fill="solid"
                  placeholder="Share your thoughts..."
                  [(ngModel)]="feedback"
                ></ion-textarea>
            -->

            <h1>Leave us a comment.</h1>
        
              <textarea 
                  rows="10" cols="40" 
                  [(ngModel)]="value"
                  placeholder="Share your thoughts... ie: Whats wrong, what is confusing, what you like"	
                  pInputTextarea>
               
              </textarea>
           

              
            <!--    <ion-item>
                <ion-textarea
                  label="What’s one thing you found confusing or frustrating?"
                  labelPlacement="stacked"
                  type="text"
                  autoGrow="true"
                  placeholder="Share your thoughts..."
                  [(ngModel)]="feedbackConfusing"
                ></ion-textarea>
              </ion-item> -->
              <p-messages severity="info"  >

              <ng-template pTemplate>
                <p class="privacy-note">
                  Your feedback is private, and will be used solely to improve the app and provide a better experience for our users.  
                </p>
                 
                <ion-button size="small" fill="clear" (click)="learnMore()">
                  Learn More
                  <ion-icon slot="end" name="information-circle-outline"></ion-icon>
                </ion-button>
              </ng-template>
              

            </p-messages>
          </ion-content>
        </ng-template>
      </ion-modal>
      


    <ng-container *ngIf="!isMobile; else mobileView"  >  
    <div class="verification-container">
      <p-card class="verification-card">
        <div class="verification-header">
          <h2>Usa tu dispositivo móvil para esta app</h2>
          <p>Esta aplicación está optimizada para dispositivos móviles. </p>
          <p>Para una mejor experiencia, escanea el QR con tu móvil..</p>

        </div>
        
        <!-- QR Code -->
        <div class="qr-section">
          <qrcode style="display: flex
          ;
              justify-content: center;" qrdata="https://mini-cog-test.web.app/" [width]="256" [errorCorrectionLevel]="'M'"></qrcode>
        </div>
        

       <div class="ion-text-center">
        <ion-button style="width:168.7px; margin-bottom:1rem" arial-label="continue" (click)="ignoreResponsiveWarning()">SEGUIR DE TODOS MODOS</ion-button>
      </div>
      </p-card>
    </div>
    
    </ng-container>
    <div>

      <ng-template #mobileView> 
      <ul style="padding-left: 20px;">
        <li>
          <strong> {{t("HOME.WHAT_IS_APP.TITLE")}}</strong>
          <p>{{t("HOME.WHAT_IS_APP.DESCRIPTION")}} </p>
        </li>
        <li>
          <strong> {{t("HOME.WHAT_IS_MINICOG.TITLE")}} </strong>
          <p>{{t("HOME.WHAT_IS_MINICOG.DESCRIPTION")}}</p>
        </li>
        <li>
          <strong>{{t("HOME.WHO_IS_THIS_FOR.TITLE")}}</strong>
          <p>{{t("HOME.WHO_IS_THIS_FOR.DESCRIPTION")}}</p>
        </li>
      </ul>
      <div class="ion-text-center">
        <ion-button style="width:168.7px; margin-bottom:1rem" arial-label="continue" [routerLink]="['/before-we-start']">{{t("HOME.START_BUTTON")}}</ion-button>
      </div>

      <app-show-history/>
    </ng-template>
    </div>
 
  </ion-content>
</ng-container>
 

<p-toast  [life]="20000" />

<!-- <app-pick-lang-box  (langSelected)="handleLangSelection($event)" [displayLangOptions]="displayLangOptions" />
 -->