<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title size="large">FAQ - Mini Cog</ion-title>
  </ion-toolbar>
</ion-header>

 


   
  <ion-content [fullscreen]="true">

    <ul>
      <li>
        <strong>What is this?</strong>
        <p>This is an app that will take you step by step to do the Mini Cog test with a loved one.</p>
      </li>
      <li>
        <strong>What is Mini Cog?</strong>
        <p>The Mini Cog test is a brief cognitive screening test that is used to detect cognitive impairment in older adults. It consists of a three-item recall test for memory and a simple clock-drawing test.</p>
      </li>
      <li>
        <strong>Who is this for?</strong>
        <p>This test is designed to be administered by one person to another, such as a family member or loved one.</p>
      </li>
    </ul>
    <div class="ion-text-center">
      <ion-button [routerLink]="['/before-we-start']">START</ion-button>
    </div>  
  </ion-content>
  
 